body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 10vh;
}

main {
    height: 80vh;
    padding: 20px;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}

#questionlist {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

#questionlist button {
    margin: 10px;
}

#left-section,
#right-section {
    width: 45%;
}

#left-section {
    background-color: gray;
    padding: 10px;
    border-radius: 2%;
}

#changebutton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#changebutton button {
    margin: 20px;
    width: 40%;
    border-radius: 10px;
}

#right-section {
    background-color: rgb(69, 209, 69);
    padding: 10px;
    border-radius: 2%;
}

#upload-section {
    margin-bottom: 20px;
}

#interpretedResults {
    font-size: 25px;
}

#calculatedTable {
    display: none;
    margin-top: 20px;
}

#displayanswers {
    width: 90%;
    margin-top: 10px;
}

#showanswers {
    width: 100%;
}

#question {
    font-size: larger;
}

.hidden {
    display: none;
}

.answer {
    font-size: larger;
}

.inputAndSelect {
    display: flex;
    justify-content: space-between;
}

/* Styles for #answer and #question */
#answer, #question {
    width: 100%;
    box-sizing: border-box;
    overflow: auto; /* Scrollbars appear if needed */
    word-break: break-word; /* Break long words */
    padding: 10px; /* Padding for better readability */
    height: auto; /* Expand height based on content */
}

/* Responsive design adjustments */
@media screen and (max-width: 1000px) {
    section {
        display: block;
        height: auto; /* Allow section height to adjust based on content */
    }

    #questionlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 20px;
    }

    #questionlist button {
        margin: 5px;
    }

    #left-section,
    #right-section {
        width: 80%;
        margin: auto;
        height: auto; /* Allow height to adjust based on content */
    }

    #left-section {
        margin-bottom: 10px;
    }

    #changebutton {
        justify-content: space-evenly;
        width: 100%;
    }

    #changebutton button {
        margin: 20px;
        width: 40%;
    }

    /* Adjust font size for mobile view */
    #answer, #question {
        font-size: smaller; /* Reduce font size to fit better in smaller screens */
        padding: 5px; /* Reduce padding to maximize space */
    }
}
